.wraper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  overflow-y: scroll;
}
.header,
.footer {
  height: 44px;
}

.footer {
  display: flex;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
}
.footer > a {
  display: inline-block;
  flex: 1;
  font-size: 14px;
  vertical-align: text-top;
}
